* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom, #bdf6f2, #736800);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.principal {
  width: 80%;
  height: 80%;
  display: flex;
}
.esquerda {
  background-image: linear-gradient(to bottom, #ffffff, #736800);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px 0 0 10px;
}
.esquerda img {
  width: 90%;
}
.direita {
  background-image: url("../images.jpeg");
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
}
form {
  background-color: rgb(219, 234, 107);
  width: 50%;
  height: 50%;
  padding: 4% 5%;
  display: flex;
  flex-direction: column;
  border-radius: 8%;
  gap: 10px;
  opacity: 10;
}
.linha {
  background-color: #736800;
  height: 5px;
  width: 210px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-group input {
  padding: 8px;
  border: 0;
  border-radius: 4px;
}
.lembrar {
  display: flex;
  gap: 5px;
}
button {
  height: 30px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #736800;
}
button:hover {
  background-color: #534b00;
}
